@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
	--bg-color: #E2E1E0;
	--primary-color: #2196F3;

	--dark-primary: #1976d2;
	--light-primary: #BBDEFB;

	--text-color: #FFFFFF;
	--text-primary: #212121;
	--text-secondary:#757575;

	--accent-color: #8BC34A;
	--diveder-color: #BDBDBD;

	--error-color: #D32F2F;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 10vh 0;
	font-family: "Roboto", sans-serif;
	background-color: var(--bg-color);
	flex-direction: column;
	align-items: center;
}

.game-title {
	font-size: 42px;
	color: var(--text-primary);
}

.game-container {
	position: relative;
	display: flex;
	width: 800px;
	background-color: var(--primary-color);
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.game-panel {
	display: flex;
	background-color: var(--dark-primary);
	box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.6);
}

.indicator {
	display: flex;
	height: 70px;
	color: var(--text-color);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 1;
}

.indicator__header {
	margin: 5px 0 ;
	font-weight: 200;
	color: var(--light-primary);
}

.indicator__value {
	margin: 0;
	font-size: 24px;
	font-weight: 600;
}

.quote {
	display: flex;
	padding: 0 56px;
	background-color: var(--primary-color);
	min-height: 200px;
	align-items: center;
	justify-content: center;
}

.quote__text {
	margin: 0;
	font-size: 24px;
	font-weight: 400;
	color: var(--text-color);
}

.user-input {
	display: flex;
	padding: 20px 56px;
	background-color: #fff;
	justify-content: center;
	min-height: 200px;
}

.user-input__area {
	width: 100%;
	height: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	font-size: 24px;
	border: none;
	resize: none;
	outline: none;
}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.results {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	color: var(--text-color);
	background-color: var(--primary-color);
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.results__title {
	margin: 0;
	font-size: 36px;
	margin-bottom: 18px;
}

.results__score {
	display: flex;
	width: 400px;
	margin-bottom: 42px;
}

.game-button {
	padding: 10px 20px;
	
	font-size: 24px;
	color: var(--text-color);	
	background-color: var(--accent-color);
	border: 1px solid var(--text-primar);
	border-radius: 2px;
	transition: transform 0.2s ease-in	;
	outline: none;
	cursor: pointer;
	    box-shadow: 0 3px 10px rgb(0 0 0 / 23%), 0 3px 10px rgb(0 0 0 / 16%);
}

.game-button:focus,
.game-button:hover {
	transform: scale(1.1);
}

.error {
	color: var(--error-color);
}
